<div class="about">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/pic.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Carl Angelo P. Quiambao</h3>
              <h5 class="card-text">Age: 20</h5>
              <h5 class="card-text">Birthday: February 14, 2001</h5>
              <h5 class="card-text">Gender: Male</h5>
              <h6 class="card-text">Currently a 3rd year student from the Holy Angel University, studying Web Development. In my spare time, I watch movies, play online games, and learn instruments like the ukulele.</h6>
            </div>
          </div>
        </div>
      </div><br>

