<br><div class="skills">
  <h2 style="text-align: center;">Skills</h2><br>
  <div class="card-group">
    <div class="card">
      <img src="../assets/htmllogo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HTML skills</h5>
      </div>
    </div>
    <div class="card">
      <img src="../assets/analyticalskills.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Analytical skills</h5>
      </div>
    </div>
    <div class="card">
      <img src="../assets/JavaScript-logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">JavaScript skills</h5>
      </div>
    </div>
    <div class="card">
      <img src="../assets/seo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Search engine optimisation skills</h5>
      </div>
    </div>
  </div>
</div><br>

