<div class="portfolio">
  <h3 style="text-align: center;">Portfolio</h3>
  <h5 style="text-align: center;">(Schools Attended)</h5><br>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../assets/smes2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">San Matias Elementary School</h5>
          <p class="card-text">Elementary School</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/phs.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pampanga High School</h5>
          <p class="card-text">Junior High School</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/ua.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">University of the Assumption</h5>
          <p class="card-text">Senior High School</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/hau.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Holy Angel University</h5>
          <p class="card-text">College</p>
        </div>
      </div>
    </div>
  </div>
</div><br>